* {
    box-sizing: border-box;
}


.selected img {
    border: 2px dashed #ff8cce;
    padding: 4px;
}

img {
    margin: 15px;
    padding: 6px;
    width: 100%;
    height: 200px;

}

div {
    /*max-width: 70%;*/
    margin: 0 auto;
    /*width: 66.64%;*/
}